.Checkout {
  .ProgressBar {
    background: var(--breadcrumbs-background);
    // min-height: var(--breadcrumbs-height);
    height: 100px;
    display: flex;

    .progress {
      width: calc(100% / 3);
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;

      .line {
        background: red;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        display: block;
      }
      .notLine {
        background: white;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        display: block;
      }

      .circle {
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
        height: 40px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 999px;
      }

      // .circleContainer {

      // }

      .name {
        margin-top: 10px;
        font-weight: bold;
      }

      .notCircle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        background-color: white;
        height: 40px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 999px;
      }
    }
  }
}
